<div class="colophon" style="text-align:center;">
  <h2>Nota editorial</h2>
 
  <p>Edición cortesía de Editorial Neoenanos.</p>
  <p>Se ha utilizado de fuente principal <em>IM FELL English</em> y ha sido compilada de manera automatizada a los formatos ePub, PDF y HTML.</p>
  <p><strong></strong><br>Versión: 1.0<br>Fecha de compilación: <!--fecha--></p>
  <p>Licencia: CC-BY-SA-4.0</p>
  <p>Puedes encontrar más libros de esta clase en <a href="https://github.com/orgs/neoenanos/repositories">nuestro repositorio https://github.com/orgs/neoenanos/repositories</a>.</p>
</div>
